.cnx_ins__sidebar{
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

.cnx_ins__sidebar_header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cnx_ins__sidebar_btn{
    padding: 7px 10px;
    background-color: #1d8603;
    border-color: #1d8603;
}

.cnx_ins__sidebar_header_dd{
    min-width: 180px;
    padding: 5px;
}

.cnx_ins__sidebar_header_dd_item{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;

    & > i{
        font-size: 16px;
    }

    & > span{
        font-weight: 500;
    }


    &:hover{
        color: #fff;
        background-color: #086de0;
    }

    &:hover > svg{
        fill: #fff;
    }
}


/* dashboard content */
.cnx_ins__sidebar_content{
    overflow-y: auto;
}

.cnx_ins__sidebar_dashboards_header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    justify-content: space-between;
    & > .__accordion{
        padding: 0;
        width: 100%;
        cursor: pointer;
        user-select: none;
    }

    &.__inner{
        padding-left: 20px;
        width: 100%;
        cursor: pointer;
        user-select: none;
        color: #555555;
    }
}

.cnx_ins__sidebar_dashboards_title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;

    & > i.fa-chevron-down,
    & > i.fa-chevron-right{
        font-size: 12px;
    }
    &.__inner{
        font-weight: 500;
    }
}

.cnx_ins__sidebar_dashboards_dd{
   z-index: 1; 

   &.__inner{
        opacity: 0;
        pointer-events: none;
   }
}

.cnx_ins__sidebar_dashboards_dd_btn{
    background-color: #ffffff;
    border: none;
    color: #000;
    padding: 5px 4px;

    &:hover{
        background-color: #f0f0f0;
    }
}

.cnx_ins__sidebar_header_dd_item {
    user-select: none;
    & > i.cnx_font_sm{
        font-size: 12px;
    }

    &.disabled{
        color: #999;
        cursor: not-allowed;
        pointer-events: none;
    }
}


.cnx_ins__sidebar_dashboards_header.__inner:hover >
.cnx_ins__sidebar_dashboards_dd.__inner{
    opacity: 1;
    pointer-events: all;
}


.cnx_ins__sidebar_item{
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 10px;

    &_link{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 7px 10px;
        padding-left: 40px;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        text-decoration: none;
        color: #000;

        span{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 13px;
            svg{
                width: 16px;
                height: 16px;
            }
        }

        &:hover{
            background-color: #f5f5f5;
        }

        &:hover > svg{
            fill: #fff;
        }

        &.active{
            font-weight: 600;
            color: #086de0;
            background-color: #eaf0f7;
        }

        & > button{
            display: none;
            cursor: pointer;
            svg{
                fill: #575757;
                width: 14px;
                height: 14px;
            }

            &:hover{
                svg{
                    fill: #000;
                }
            }
        }

        &:hover > button{
            display: block;
        }
    }
}


.cnx_ins__sidebar_item_move{
    background-color: transparent;
    border: none;
}
